@page
@model SchoolMgtWebApp.Pages.Admin.Courses.IndexModel
@{
    ViewData["Title"] = "Index";
}



<div class="border container backgroundWhite">
    <div class="row">
        <div class="col-md-6">
            <h2 class="text-primary">List of Courses</h2>
        </div>
        <div class="col-md-6 text-right">
            <a asp-page="UpSert" class="btn btn-primary">
                <i class="fas fa-plus"></i> &nbsp;
                Add New Course
            </a>
        </div>
    </div>
    <br />
    <table id="dataLoad" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Course Code</th>
                <th>Course Title</th>
                <th>Unit</th>
                <th>Semester</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>

@section scripts{
    <script src="~/js/courses.js"></script>
}


