@page
@model SchoolMgtWebApp.Pages.Admin.Departments.UpSertModel
@{
    ViewData["Title"] = "UpSert";
}


<h1>
    @(Model.DepartmentVM.Department.Id != 0 ? "Update Department" : "Add Department")
</h1>
<form asp-action="Upsert" method="post">
    <div class="container">
        <div class="row px-2 mx-2 backgroundWhite border">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="col-md-12 px-3" style="border-bottom:solid 1px #325d88;">
                @if (Model.DepartmentVM.Department.Id != 0)
                {
                    <input type="hidden" asp-for="DepartmentVM.Department.Id" />
                }
            </div>
            <div class="col-md-8 pt-3">
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="DepartmentVM.Department.Name"></label>
                    </div>
                    <div class="col-9">
                        <input type="text" asp-for="DepartmentVM.Department.Name" class="form-control" />
                        <span class="text-danger" asp-validation-for="DepartmentVM.Department.Name"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="DepartmentVM.Department.FacultyId"></label>
                    </div>
                    <div class="col-9">
                        @Html.DropDownListFor(m => m.DepartmentVM.Department.FacultyId,
                                            Model.DepartmentVM.Faculty,
                                            "-Select Faculty-",
                                            new { @class = "form-control" })
                        <span class="text-danger" asp-validation-for="DepartmentVM.Department.FacultyId"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-9 offset-3">
                        <div class="row">
                            <div class="col-6">
                                <button type="submit" class="btn btn-primary form-control">@(Model.DepartmentVM.Department.Id != 0 ? "Update" : "Create")</button>
                            </div>
                            <div class="col-6">
                                <a asp-page="./Index" class="btn btn-success form-control">Back To list </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>
