@page
@model SchoolMgtWebApp.Pages.Admin.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
    <h2>Admin Dashboard</h2>
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <!-- Icon Cards-->
            <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-2 mt-4">
                <a asp-page="/Admin/Faculties/Index">
                    <div class="inforide" style="cursor:pointer" >
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-4 col-4 rideone">
                                <img style="width:50px;height:50px;" src="~/images/overview1.png">
                            </div>
                            <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                                <h4>Faculties</h4>
                                <h2>@Model.AdminVM.NoOfFaculties</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-2 mt-4">
                <a asp-page="/Admin/Departments/Index">
                    <div class="inforide" style="cursor:pointer" >
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-4 col-4 ridetwo">
                                <img style="width:50px;height:50px;" src="~/images/overview2.png">
                            </div>
                            <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                                <h4>Departments</h4>
                                <h2>@Model.AdminVM.NoOfDepts</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-2 mt-4">
                <a asp-page="/Admin/Courses/Index">
                    <div class="inforide" style="cursor:pointer" >
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-4 col-4 rideone">
                                <img style="width:50px;height:50px;" src="~/images/overview1.png">
                            </div>
                            <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                                <h4>Courses</h4>
                                <h2>@Model.AdminVM.NoOfCourses</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-2 mt-4">
                <a asp-page="/Admin/Students/Index">
                    <div class="inforide" style="cursor:pointer" >
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-4 col-4 ridetwo">
                                <img style="width:50px;height:50px;" src="~/images/overview2.png">
                            </div>
                            <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                                <h4>Students</h4>
                                <h2>@Model.AdminVM.NoOfStudents</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/css/dashboard.css" rel="stylesheet" type="text/css" />
}
